body, html {
  height:100%;
  margin:0;
  font-size: 16px;
  font-family: 'Marvel', 'sans-serif';
  font-weight: 400;
  line-height: 1.7em;
  color:#666;
}
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}


.container{
  background-color: black;
  width: 100%;
  height: 42px;
  position: fixed;
}

nav{
  float: center;
  height: 22px;
}

nav ul{
  margin-top: 6px;
  padding: 2px;
  list-style-type: none;
  width: 100%;
  display: inline-block;
  text-align: center;
}

nav li{
  display: inline-block;
  margin: 3%;
  display: inline;
}

nav a {
  color: white;
  text-decoration: none;
}

@media screen and (min-width: 600px) {
  nav a {
    font-size: 20px;
  }
  .school-text{
    font-weight: 100;
    color: #585858;
    font-size: 20px;
    letter-spacing: 4px;
    text-transform: uppercase;
    line-height: 1.6;
  }
  .iconWrapper {
      text-align: center;
  }
  .ptext{
    padding-top: 10%;
    position: static;
    left:25%;
    right:25%;
    text-align: center;
    color:#505050;
    font-size: 42px;
    letter-spacing: 7px;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 0.77;
  }
  .border {
    padding-left: 5%;
  }
  .about-details {
    text-align: center;
    font-size: 21px;
    letter-spacing: 1px;
  }
  .description {
    text-decoration-line: none;
    font-size: 20px;
    letter-spacing: 2px;
  }
}

@media screen and (max-width:600px) {
  .home-page{
    background-position: right;
    background-size: 350px;
  }
  .about-myname {
    font-size: 14px;
  }
  nav li{
    display: inline-block;
    margin: 3.5%;
    display: inline;
  }
  .container{
    background-color: black;
  }
  nav a {
    font-size: 15px;

  }

  .name {
    font-size: 23px;
    line-height: 0.2em;
    text-align: center;
  }
  .school-text {
    font-size:15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 1.6em;
  }
  .body {
    font-size: 20px;
    line-height: 1.2em;
  }

  .iconWrapper {
    font-size: 35px;
  }
  .ptext{
    padding-top: 20%;
    position: static;
    left:25%;
    right:25%;
    text-align: center;
    color:#585858;
    font-size: 40px;
    letter-spacing: 7px;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 0.8;
  }
  .about-details {
    text-align: center;
    font-size: 17px;
    letter-spacing: 1px;
  }
  .description {
    text-decoration-line: none;
    font-size: 13px;
    letter-spacing: 2px;
  }
  .project {
    float: left;
    width: 100%;
    height: 100%;
  }




}


.about-title {
  font-weight: 300;
  letter-spacing: 2px;

}
nav a:hover {
  text-decoration: underline;
}



.home-page{
  background-image: url('../img/image1.jpg');
  min-height: 100%;
  max-width: 100%;
  position: static;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;


}

.section{
  text-align: center;
  padding: 80px 80px;

}


.section-pink{
  font-family: 'Marvel';
  background-color: #F0EDE5;
  color: #585858;
  min-height: 100%;
  letter-spacing: 4px;
  line-height: 1.6;
  font-size: 22px;
  text-decoration: none;
}
.click-here {
  text-decoration: none;
  font-weight: 700;
  color: #4E4A4A;
}
.click-here:hover {
  text-decoration: underline;
}

a {
  /* text-decoration: none; */
  color: #585858;
}
h2 {
  text-decoration: underline;
  font-weight: 800;
}



.school-text{
  font-size: 22px;
  letter-spacing: 4px;
  text-transform: uppercase;
  line-height: 1.3;
}

.ptext .name{
  color:#505050;;

}

.fa:hover {
  opacity: 0.6;
}

.fa {
  color: #505050;
  padding: 3px;
  font-size: 10px;
  width: 22px;
  text-align: center;
  text-decoration: none;
  margin: 3px 4px;
}



div.gallery {
    border: 1px solid #777;
}

div.gallery:hover {
    border: 1px solid #777;
}
div.desc:hover {
  font-size: 14px;
  color: #585858;
  letter-spacing: 1px;
}
div.gallery img {
    width: 100%;
    height: 100%;
}

div.desc {
    padding: 10px;
    text-align: center;
}

* {
    box-sizing: border-box;
}
.desc {
  font-size: 0px;
}
.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
    height: 24.999%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 50%;
        height: 50%;
        margin: 7px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
        height: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.box {
  background-color:#F0EDE5;
  height: 100%;
  padding: 5px 10% 5px 10%;
  float: center;
  width: 80%;
}
